In [498]:
import pandas as pd
import numpy as np

In [499]:
WorldPopulation_edu=pd.read_csv('Datasets/world-population-level-education.csv')
WorldPopulation_Gro= pd.read_csv('Datasets/population-growth-rate.csv')

In [500]:
WorldPopulation_edu.head()

,Entity,Code,Year,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
0,Afghanistan,AFG,1950,800.0,5300.0,0.0,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1955,1600.0,10000.0,0.0,197300.0,0.0,4633400.0,3428100.0
2,Afghanistan,AFG,1960,3400.0,17800.0,0.0,255100.0,0.0,4925300.0,3790800.0
3,Afghanistan,AFG,1965,6900.0,39300.0,0.0,320500.0,0.0,5302900.0,4265500.0
4,Afghanistan,AFG,1970,13200.0,80200.0,0.0,401300.0,0.0,5708500.0,4919200.0

In [501]:
WorldPopulation_Gro.head()

,Entity,Code,Year,Population growth rate - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,1.275
1,Afghanistan,AFG,1951,1.360
2,Afghanistan,AFG,1952,1.374
3,Afghanistan,AFG,1953,1.335
4,Afghanistan,AFG,1954,1.394

In [502]:
WorldPopulation_Gro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18722 entries, 0 to 18721
Data columns (total 4 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Entity                                                             18722 non-null  object
 1   Code                                                               17612 non-null  object
 2   Year                                                               18722 non-null  int64
 3   Population growth rate - Sex: all - Age: all - Variant: estimates  18722 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 585.2+ KB

In [503]:
WorldPopulation_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3024 entries, 0 to 3023
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      3024 non-null   object
 1   Code                                        3008 non-null   object
 2   Year                                        3024 non-null   int64
 3   Population - Education: Post Secondary      3024 non-null   float64
 4   Population - Education: Upper Secondary     3024 non-null   float64
 5   Population - Education: Lower Secondary     3024 non-null   float64
 6   Population - Education: Primary             3024 non-null   float64
 7   Population - Education: Incomplete Primary  3024 non-null   float64
 8   Population - Education: No Education        3024 non-null   float64
 9   Population - Education: Under 15            3024 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 236.4+ KB

## Investigating why Code Column contains NaN values

In [504]:
WorldPopulation_edu[WorldPopulation_edu["Code"].isna()].head()

,Entity,Code,Year,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
2695,The former Yugoslav Republic of Macedonia,NaN,1950,700.0,4900.0,11300.0,65600.0,337200.0,383500.0,451300.00
2696,The former Yugoslav Republic of Macedonia,NaN,1955,2800.0,15700.0,23600.0,99000.0,387600.0,348900.0,514900.03
2697,The former Yugoslav Republic of Macedonia,NaN,1960,8200.0,38200.0,38400.0,127800.0,404000.0,306500.0,565600.00
2698,The former Yugoslav Republic of Macedonia,NaN,1965,19800.0,81900.0,55600.0,159800.0,416000.0,269500.0,589900.00
2699,The former Yugoslav Republic of Macedonia,NaN,1970,40200.0,151900.0,80800.0,192300.0,427500.0,243100.0,585000.00

### The reason is The former Yugsolav Republic does not have a code in ISO 3166-1 alpha-3 standard

## Trying to merge the two dataframes

In [505]:
WorldPopulation_edu[['Entity']].nunique()

Entity    202
dtype: int64

In [506]:
WorldPopulation_Gro[['Entity']].nunique()

Entity    253
dtype: int64

It is clear that the two dataframes have different number of countries, even though they have the column name "Entity"

In [507]:
countries_in_df1_not_in_df2 = WorldPopulation_Gro[~WorldPopulation_Gro['Entity'].isin(WorldPopulation_edu['Entity'])]

In [508]:
countries_in_df2_not_in_df1 = WorldPopulation_edu[~WorldPopulation_edu['Entity'].isin(WorldPopulation_Gro['Entity'])]

In [509]:
countries_in_df2_not_in_df1['Entity'].unique()

array(['Channel Islands', 'The former Yugoslav Republic of Macedonia'],
      dtype=object)

In [510]:
countries_in_df1_not_in_df2['Entity'].nunique()

53

In [511]:
countries_in_df1_not_in_df2['Entity'].unique()

array(['Africa (UN)', 'American Samoa', 'Andorra', 'Anguilla',
       'Asia (UN)', 'Bermuda', 'Bonaire Sint Eustatius and Saba',
       'British Virgin Islands', 'Cayman Islands', 'Cook Islands',
       'Dominica', 'Europe (UN)', 'Falkland Islands', 'Faroe Islands',
       'Gibraltar', 'Greenland', 'Guernsey', 'High-income countries',
       'Isle of Man', 'Jersey', 'Kosovo',
       'Latin America and the Caribbean (UN)',
       'Least developed countries', 'Less developed regions',
       'Less developed regions, excluding China',
       'Less developed regions, excluding least developed countries',
       'Liechtenstein', 'Low-income countries',
       'Lower-middle-income countries', 'Marshall Islands', 'Monaco',
       'Montserrat', 'More developed regions', 'Nauru', 'Niue',
       'North Macedonia', 'Northern America (UN)',
       'Northern Mariana Islands', 'Oceania (UN)', 'Palau',
       'Saint Barthelemy', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'San Marino', 'Sint Maarten (Dutch part)', 'Tokelau',
       'Turks and Caicos Islands', 'Tuvalu',
       'Upper-middle-income countries', 'Vatican', 'Wallis and Futuna'],
      dtype=object)

In [512]:
print(countries_in_df1_not_in_df2.shape)
print(WorldPopulation_Gro.shape)
print(countries_in_df2_not_in_df1.shape)
print(WorldPopulation_edu.shape)

(3922, 4)
(18722, 4)
(19, 10)
(3024, 10)

Theer are 2 countries in WorldPopulation_edu that are not in WorldPopulation_Gro dataset.  

On the other hand, WorldPopulation_Gro dataset has 53 countries that are not in WorldPopulation_edu dataset.  

To make the datasets consistent, we will remove the mismatched countries from both datasets. This will cause the loss of 3971 total rows of data. Hence, we will be left with 14751 rows total.

In [513]:
WorldPopulation_edu

,Entity,Code,Year,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
0,Afghanistan,AFG,1950,800.0,5300.0,0.0,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1955,1600.0,10000.0,0.0,197300.0,0.0,4633400.0,3428100.0
2,Afghanistan,AFG,1960,3400.0,17800.0,0.0,255100.0,0.0,4925300.0,3790800.0
3,Afghanistan,AFG,1965,6900.0,39300.0,0.0,320500.0,0.0,5302900.0,4265500.0
4,Afghanistan,AFG,1970,13200.0,80200.0,0.0,401300.0,0.0,5708500.0,4919200.0
...,...,...,...,...,...,...,...,...,...,...
3019,Zimbabwe,ZWE,2005,500400.0,2197000.0,1965200.0,1349500.0,772000.0,759400.0,5413000.0
3020,Zimbabwe,ZWE,2010,519700.0,2653200.0,2006000.0,1418200.0,799300.0,773400.0,5849100.0
3021,Zimbabwe,ZWE,2015,731400.0,3795600.0,1992800.0,1373200.0,700300.0,640300.0,6543000.0
3022,Zimbabwe,ZWE,2020,980200.0,5077400.0,2052100.1,1315900.0,580900.0,518300.0,7037600.0
3023,Zimbabwe,ZWE,2025,1263800.0,6570800.0,2169700.0,1217100.0,431200.0,375000.0,7120200.0

In [514]:
WorldPopulation_Gro.drop(countries_in_df1_not_in_df2['Entity'].index, inplace=True)

In [515]:
WorldPopulation_Gro.shape

(14800, 4)

In [516]:
WorldPopulation_edu.drop(countries_in_df2_not_in_df1['Entity'].index, inplace=True)

In [517]:
WorldPopulation_edu.shape

(3005, 10)

Our next major problem is the fact that the education dataset has date data points only in 5 year increaments.
We can do either of two things
1) We can delete the data from World Grwoth that is not in 5 year increament
2) We can interpolate the missing data points  

We will be using the second option as the first option will cause  loss of data.

In [518]:
# we would have to change Year column to string then concatenate it with '01-01' to make it a date column because it is an integer
WorldPopulation_edu.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3005 entries, 0 to 3023
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      3005 non-null   object
 1   Code                                        3005 non-null   object
 2   Year                                        3005 non-null   int64
 3   Population - Education: Post Secondary      3005 non-null   float64
 4   Population - Education: Upper Secondary     3005 non-null   float64
 5   Population - Education: Lower Secondary     3005 non-null   float64
 6   Population - Education: Primary             3005 non-null   float64
 7   Population - Education: Incomplete Primary  3005 non-null   float64
 8   Population - Education: No Education        3005 non-null   float64
 9   Population - Education: Under 15            3005 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 258.2+ KB

In [519]:
WorldPopulation_edu['date'] = WorldPopulation_edu['Year'].astype(str) + '-01-01'

In [520]:
WorldPopulation_edu['date']= pd.to_datetime(WorldPopulation_edu['date'])

In [521]:
WorldPopulation_edu.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3005 entries, 0 to 3023
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      3005 non-null   object
 1   Code                                        3005 non-null   object
 2   Year                                        3005 non-null   int64
 3   Population - Education: Post Secondary      3005 non-null   float64
 4   Population - Education: Upper Secondary     3005 non-null   float64
 5   Population - Education: Lower Secondary     3005 non-null   float64
 6   Population - Education: Primary             3005 non-null   float64
 7   Population - Education: Incomplete Primary  3005 non-null   float64
 8   Population - Education: No Education        3005 non-null   float64
 9   Population - Education: Under 15            3005 non-null   float64
 10  date                                        3005 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(2)
memory usage: 281.7+ KB

In [522]:
WorldPopulation_edu.set_index('date', inplace=True)

In [523]:
df_resampled = WorldPopulation_edu.groupby('Entity').resample('YE').ffill()

In [524]:
df_resampled.reset_index(level=0, drop=True, inplace=True)

In [525]:
df_resampled.reset_index(inplace=True)

In [526]:
df_resampled['date'] = df_resampled['date'].dt.year

In [527]:
df_resampled['date']=df_resampled['date'].astype(int)

In [528]:
df_resampled.loc[df_resampled['date'] % 5 != 0, 'Population - Education: Post Secondary':] =np.nan
# every year that is not a multiple of 5 will be replaced with NAN, this will allow us to replace the NANs with interpolated values.

In [529]:
df_resampled.head()

,date,Entity,Code,Year,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
0,1950,Afghanistan,AFG,1950,800.0,5300.0,0.0,155000.0,0.0,4411200.0,3179900.0
1,1951,Afghanistan,AFG,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,Afghanistan,AFG,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,Afghanistan,AFG,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,Afghanistan,AFG,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finishing interpolation

In [530]:
df_resampled.interpolate(method='linear', inplace=True)

C:\Users\yadal\AppData\Local\Temp\ipykernel_40948\139923197.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_resampled.interpolate(method='linear', inplace=True)

In [531]:
df_resampled.loc[df_resampled['date'].between(1980,1990)]

,date,Entity,Code,Year,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
30,1980,Afghanistan,AFG,1980,35200.0,193600.0,0.0,602000.0,0.0,6309900.000,6086900.0
31,1981,Afghanistan,AFG,1980,37640.0,198840.0,0.0,595300.0,0.0,6106700.000,5983240.0
32,1982,Afghanistan,AFG,1980,40080.0,204080.0,0.0,588600.0,0.0,5903500.000,5879580.0
33,1983,Afghanistan,AFG,1980,42520.0,209320.0,0.0,581900.0,0.0,5700300.000,5775920.0
34,1984,Afghanistan,AFG,1980,44960.0,214560.0,0.0,575200.0,0.0,5497100.000,5672260.0
...,...,...,...,...,...,...,...,...,...,...,...
14185,1986,Zimbabwe,ZWE,1985,205800.0,687940.0,1072180.0,956760.0,848380.0,1051619.988,4279180.0
14186,1987,Zimbabwe,ZWE,1985,226300.0,765680.0,1132460.0,998920.0,859860.0,1046639.976,4388960.0
14187,1988,Zimbabwe,ZWE,1985,246800.0,843420.0,1192740.0,1041080.0,871340.0,1041659.964,4498740.0
14188,1989,Zimbabwe,ZWE,1985,267300.0,921160.0,1253020.0,1083240.0,882820.0,1036679.952,4608520.0
14189,1990,Zimbabwe,ZWE,1990,287800.0,998900.0,1313300.0,1125400.0,894300.0,1031699.940,4718300.0

In [532]:
print(df_resampled['date'].max())
print(WorldPopulation_Gro['Year'].max())
# our resampled data ends in 2025 while the original data ends in 2023, we have to delete the extra rows

2025
2023

In [533]:
df_resampled=df_resampled.loc[df_resampled['date'] < 2024]

In [534]:
df_resampled['date'].max()

np.int64(2023)

In [535]:
print(df_resampled.shape)
print(WorldPopulation_Gro.shape)

(13825, 11)
(14800, 4)

Will do a left join now between our two dataframes

In [536]:
MergedDf=WorldPopulation_Gro.merge(df_resampled, how='inner', left_on=['Code','Year'],right_on=['Code','date'])

In [537]:
MergedDf.head()

,Entity_x,Code,Year_x,Population growth rate - Sex: all - Age: all - Variant: estimates,date,Entity_y,Year_y,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
0,Afghanistan,AFG,1950,1.275,1950,Afghanistan,1950,800.0,5300.0,0.0,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1951,1.360,1951,Afghanistan,1950,960.0,6240.0,0.0,163460.0,0.0,4455640.0,3229540.0
2,Afghanistan,AFG,1952,1.374,1952,Afghanistan,1950,1120.0,7180.0,0.0,171920.0,0.0,4500080.0,3279180.0
3,Afghanistan,AFG,1953,1.335,1953,Afghanistan,1950,1280.0,8120.0,0.0,180380.0,0.0,4544520.0,3328820.0
4,Afghanistan,AFG,1954,1.394,1954,Afghanistan,1950,1440.0,9060.0,0.0,188840.0,0.0,4588960.0,3378460.0

In [538]:
# cleaning the data
MergedDf = MergedDf.drop(columns=['Year_y'], axis=1)
MergedDf = MergedDf.drop(columns=['date'], axis=1)
MergedDf = MergedDf.drop(columns=['Entity_y'], axis=1)

In [539]:
MergedDf.head()

,Entity_x,Code,Year_x,Population growth rate - Sex: all - Age: all - Variant: estimates,Population - Education: Post Secondary,Population - Education: Upper Secondary,Population - Education: Lower Secondary,Population - Education: Primary,Population - Education: Incomplete Primary,Population - Education: No Education,Population - Education: Under 15
0,Afghanistan,AFG,1950,1.275,800.0,5300.0,0.0,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1951,1.360,960.0,6240.0,0.0,163460.0,0.0,4455640.0,3229540.0
2,Afghanistan,AFG,1952,1.374,1120.0,7180.0,0.0,171920.0,0.0,4500080.0,3279180.0
3,Afghanistan,AFG,1953,1.335,1280.0,8120.0,0.0,180380.0,0.0,4544520.0,3328820.0
4,Afghanistan,AFG,1954,1.394,1440.0,9060.0,0.0,188840.0,0.0,4588960.0,3378460.0

In [540]:
MergedDf = MergedDf.rename(columns={'Population - Education: Post Secondary': 'Education_Post_Secondary',
                                    'Population - Education: Upper Secondary':'Education_Upper_Secondary',
                                    'Population - Education: Lower Secondary':'Education_Lower_Secondary',
                                    'Population - Education: Incomplete Primary':'Education_Incomplete_Primary',
                                    'Population - Education: No Education':'Education_No_Education',
                                    'Population - Education: Under 15':'Education_Under_15',
                                    'Population growth rate - Sex: all - Age: all - Variant: estimates':'Growth_Rate',
                                    'Population - Education: Primary':'Education_Primary',
                                        'Entity_x':'Entity',
                                        'Year_x':'Year'	})

In [541]:
MergedDf

,Entity,Code,Year,Growth_Rate,Education_Post_Secondary,Education_Upper_Secondary,Education_Lower_Secondary,Education_Primary,Education_Incomplete_Primary,Education_No_Education,Education_Under_15
0,Afghanistan,AFG,1950,1.275,800.0,5300.0,0.00,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1951,1.360,960.0,6240.0,0.00,163460.0,0.0,4455640.0,3229540.0
2,Afghanistan,AFG,1952,1.374,1120.0,7180.0,0.00,171920.0,0.0,4500080.0,3279180.0
3,Afghanistan,AFG,1953,1.335,1280.0,8120.0,0.00,180380.0,0.0,4544520.0,3328820.0
4,Afghanistan,AFG,1954,1.394,1440.0,9060.0,0.00,188840.0,0.0,4588960.0,3378460.0
...,...,...,...,...,...,...,...,...,...,...,...
13820,Zimbabwe,ZWE,2019,1.609,930440.0,4821040.0,2040240.08,1327360.0,604780.0,542700.0,6938680.0
13821,Zimbabwe,ZWE,2020,1.709,980200.0,5077400.0,2052100.10,1315900.0,580900.0,518300.0,7037600.0
13822,Zimbabwe,ZWE,2021,1.743,1036920.0,5376080.0,2075620.08,1296140.0,550960.0,489640.0,7054120.0
13823,Zimbabwe,ZWE,2022,1.670,1093640.0,5674760.0,2099140.06,1276380.0,521020.0,460980.0,7070640.0
13824,Zimbabwe,ZWE,2023,1.684,1150360.0,5973440.0,2122660.04,1256620.0,491080.0,432320.0,7087160.0

## Now we will merge more datasets

In [542]:
Sex_ratio_df = pd.read_csv('Datasets/sex-ratio.csv')

In [543]:
Sex_ratio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                18944 non-null  object
 1   Code                                                  17612 non-null  object
 2   Year                                                  18944 non-null  int64
 3   Sex ratio - Sex: all - Age: all - Variant: estimates  18944 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 592.1+ KB

In [544]:
Sex_ratio_df['Entity'].nunique()

256

In [545]:
MergedDf['Entity'].nunique()

200

In [546]:
MergedDf.shape

(13825, 11)

### There is discrepancy between the number of entities in sex ratio and world population growth rate, we will try to fix this first.

In [547]:
countries_in_df3_not_in_df2 = Sex_ratio_df[~Sex_ratio_df['Entity'].isin(MergedDf['Entity'])]

In [548]:
countries_in_df3_not_in_df2.nunique()

Entity                                                    56
Code                                                      38
Year                                                      74
Sex ratio - Sex: all - Age: all - Variant: estimates    4131
dtype: int64

In [549]:
countries_in_df3_not_in_df2.shape

(4144, 4)

In [550]:
countries_in_df3_not_in_df2.head()

,Entity,Code,Year,Sex ratio - Sex: all - Age: all - Variant: estimates
74,Africa (UN),NaN,1950,99.442200
75,Africa (UN),NaN,1951,99.342720
76,Africa (UN),NaN,1952,99.262350
77,Africa (UN),NaN,1953,99.195045
78,Africa (UN),NaN,1954,99.129060

In [551]:
# Sex_ratio has 56 countries that are not in MergedDf, which accounts for 4144 differences, we must delete these rows
Sex_ratio_df.drop(countries_in_df3_not_in_df2['Entity'].index, inplace=True)

In [552]:
print(Sex_ratio_df.shape)
print(MergedDf.shape)
# even after deleting the rows, the number of entities is still not the same, we have to inestigate further.

(14800, 4)
(13825, 11)

In [553]:
print(Sex_ratio_df.head())
print('--------------------------------------------------------------------------')
print(MergedDf.head())
print('--------------------------------------------------------------------------')
print(Sex_ratio_df.tail())
print('--------------------------------------------------------------------------')
print(MergedDf.tail())

        Entity Code  Year  \
0  Afghanistan  AFG  1950
1  Afghanistan  AFG  1951
2  Afghanistan  AFG  1952
3  Afghanistan  AFG  1953
4  Afghanistan  AFG  1954

   Sex ratio - Sex: all - Age: all - Variant: estimates
0                                         112.618350
1                                         112.082726
2                                         111.549540
3                                         111.028630
4                                         110.527310
--------------------------------------------------------------------------
        Entity Code  Year  Growth_Rate  Education_Post_Secondary  \
0  Afghanistan  AFG  1950        1.275                     800.0
1  Afghanistan  AFG  1951        1.360                     960.0
2  Afghanistan  AFG  1952        1.374                    1120.0
3  Afghanistan  AFG  1953        1.335                    1280.0
4  Afghanistan  AFG  1954        1.394                    1440.0

   Education_Upper_Secondary  Education_Lower_Secondary  Education_Primary  \
0                     5300.0                        0.0           155000.0
1                     6240.0                        0.0           163460.0
2                     7180.0                        0.0           171920.0
3                     8120.0                        0.0           180380.0
4                     9060.0                        0.0           188840.0

   Education_Incomplete_Primary  Education_No_Education  Education_Under_15
0                           0.0               4411200.0           3179900.0
1                           0.0               4455640.0           3229540.0
2                           0.0               4500080.0           3279180.0
3                           0.0               4544520.0           3328820.0
4                           0.0               4588960.0           3378460.0
--------------------------------------------------------------------------
         Entity Code  Year  \
18939  Zimbabwe  ZWE  2019
18940  Zimbabwe  ZWE  2020
18941  Zimbabwe  ZWE  2021
18942  Zimbabwe  ZWE  2022
18943  Zimbabwe  ZWE  2023

       Sex ratio - Sex: all - Age: all - Variant: estimates
18939                                          90.228190
18940                                          90.366800
18941                                          90.517715
18942                                          90.700360
18943                                          90.899910
--------------------------------------------------------------------------
         Entity Code  Year  Growth_Rate  Education_Post_Secondary  \
13820  Zimbabwe  ZWE  2019        1.609                  930440.0
13821  Zimbabwe  ZWE  2020        1.709                  980200.0
13822  Zimbabwe  ZWE  2021        1.743                 1036920.0
13823  Zimbabwe  ZWE  2022        1.670                 1093640.0
13824  Zimbabwe  ZWE  2023        1.684                 1150360.0

       Education_Upper_Secondary  Education_Lower_Secondary  \
13820                  4821040.0                 2040240.08
13821                  5077400.0                 2052100.10
13822                  5376080.0                 2075620.08
13823                  5674760.0                 2099140.06
13824                  5973440.0                 2122660.04

       Education_Primary  Education_Incomplete_Primary  \
13820          1327360.0                      604780.0
13821          1315900.0                      580900.0
13822          1296140.0                      550960.0
13823          1276380.0                      521020.0
13824          1256620.0                      491080.0

       Education_No_Education  Education_Under_15
13820                542700.0           6938680.0
13821                518300.0           7037600.0
13822                489640.0           7054120.0
13823                460980.0           7070640.0
13824                432320.0           7087160.0

In [554]:
'''as can be seen, head and tail match exactly of our dataset
Lets try another column comparison, for example year'''

'as can be seen, head and tail match exactly of our dataset\nLets try another column comparison, for example year'

In [555]:
countries_in_df3_not_in_df2Second = Sex_ratio_df[~Sex_ratio_df['Year'].isin(MergedDf['Year'])]

In [556]:
countries_in_df3_not_in_df2Second.shape

(0, 4)

In [557]:
countries_in_df3_not_in_df2Second.nunique()

Entity                                                  0
Code                                                    0
Year                                                    0
Sex ratio - Sex: all - Age: all - Variant: estimates    0
dtype: int64

In [558]:
Sex_ratio_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14800 entries, 0 to 18943
Data columns (total 4 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                14800 non-null  object
 1   Code                                                  14800 non-null  object
 2   Year                                                  14800 non-null  int64
 3   Sex ratio - Sex: all - Age: all - Variant: estimates  14800 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 578.1+ KB

In [559]:
MergedDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13825 entries, 0 to 13824
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        13825 non-null  object
 1   Code                          13825 non-null  object
 2   Year                          13825 non-null  int64
 3   Growth_Rate                   13825 non-null  float64
 4   Education_Post_Secondary      13825 non-null  float64
 5   Education_Upper_Secondary     13825 non-null  float64
 6   Education_Lower_Secondary     13825 non-null  float64
 7   Education_Primary             13825 non-null  float64
 8   Education_Incomplete_Primary  13825 non-null  float64
 9   Education_No_Education        13825 non-null  float64
 10  Education_Under_15            13825 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 1.2+ MB

In [560]:
# There is no apparent problem, we can go ahead with the join

In [561]:
MergedDf=Sex_ratio_df.merge(MergedDf, how='inner', left_on=['Code','Year','Entity'],right_on=['Code','Year','Entity'],)

In [562]:
MergedDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13825 entries, 0 to 13824
Data columns (total 12 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                13825 non-null  object
 1   Code                                                  13825 non-null  object
 2   Year                                                  13825 non-null  int64
 3   Sex ratio - Sex: all - Age: all - Variant: estimates  13825 non-null  float64
 4   Growth_Rate                                           13825 non-null  float64
 5   Education_Post_Secondary                              13825 non-null  float64
 6   Education_Upper_Secondary                             13825 non-null  float64
 7   Education_Lower_Secondary                             13825 non-null  float64
 8   Education_Primary                                     13825 non-null  float64
 9   Education_Incomplete_Primary                          13825 non-null  float64
 10  Education_No_Education                                13825 non-null  float64
 11  Education_Under_15                                    13825 non-null  float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1.3+ MB

In [563]:
MergedDf.rename(columns={'Sex ratio - Sex: all - Age: all - Variant: estimates':'Males_per_100_Females'},inplace=True)

In [564]:
MergedDf

,Entity,Code,Year,Males_per_100_Females,Growth_Rate,Education_Post_Secondary,Education_Upper_Secondary,Education_Lower_Secondary,Education_Primary,Education_Incomplete_Primary,Education_No_Education,Education_Under_15
0,Afghanistan,AFG,1950,112.618350,1.275,800.0,5300.0,0.00,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1951,112.082726,1.360,960.0,6240.0,0.00,163460.0,0.0,4455640.0,3229540.0
2,Afghanistan,AFG,1952,111.549540,1.374,1120.0,7180.0,0.00,171920.0,0.0,4500080.0,3279180.0
3,Afghanistan,AFG,1953,111.028630,1.335,1280.0,8120.0,0.00,180380.0,0.0,4544520.0,3328820.0
4,Afghanistan,AFG,1954,110.527310,1.394,1440.0,9060.0,0.00,188840.0,0.0,4588960.0,3378460.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13820,Zimbabwe,ZWE,2019,90.228190,1.609,930440.0,4821040.0,2040240.08,1327360.0,604780.0,542700.0,6938680.0
13821,Zimbabwe,ZWE,2020,90.366800,1.709,980200.0,5077400.0,2052100.10,1315900.0,580900.0,518300.0,7037600.0
13822,Zimbabwe,ZWE,2021,90.517715,1.743,1036920.0,5376080.0,2075620.08,1296140.0,550960.0,489640.0,7054120.0
13823,Zimbabwe,ZWE,2022,90.700360,1.670,1093640.0,5674760.0,2099140.06,1276380.0,521020.0,460980.0,7070640.0
13824,Zimbabwe,ZWE,2023,90.899910,1.684,1150360.0,5973440.0,2122660.04,1256620.0,491080.0,432320.0,7087160.0

In [565]:
# Now we add in extra datasets for getting maximum relevant attributes

In [566]:
Fertilty_DF = pd.read_csv('Datasets/fertility-rate-children-per-woman.csv')
Density_DF = pd.read_csv('Datasets/population-density.csv')

In [567]:
Fertilty_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18722 entries, 0 to 18721
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entity                                                     18722 non-null  object
 1   Code                                                       17612 non-null  object
 2   Year                                                       18722 non-null  int64
 3   Fertility rate - Sex: all - Age: all - Variant: estimates  18722 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 585.2+ KB

In [568]:
Fertilty_DF.nunique()

Entity                                                        253
Code                                                          238
Year                                                           74
Fertility rate - Sex: all - Age: all - Variant: estimates    6222
dtype: int64

In [569]:
countries_in_df4_not_in_df2 = Fertilty_DF[~Fertilty_DF['Entity'].isin(MergedDf['Entity'])]

In [570]:
countries_in_df5_not_in_df2 = Density_DF[~Density_DF['Entity'].isin(MergedDf['Entity'])]

In [571]:
countries_in_df4_not_in_df2.shape

(3922, 4)

In [572]:
countries_in_df4_not_in_df2.nunique()

Entity                                                         53
Code                                                           38
Year                                                           74
Fertility rate - Sex: all - Age: all - Variant: estimates    2646
dtype: int64

In [573]:
countries_in_df5_not_in_df2.nunique()

Entity                                                             53
Code                                                               38
Year                                                               74
Population density - Sex: all - Age: all - Variant: estimates    3811
dtype: int64

In [574]:
Fertilty_DF.drop(countries_in_df4_not_in_df2['Entity'].index, inplace=True)

In [575]:
Fertilty_DF.shape

(14800, 4)

In [576]:
Density_DF.drop(countries_in_df5_not_in_df2['Entity'].index, inplace=True)

In [577]:
Density_DF.shape

(14800, 4)

In [578]:
# Now we are ready for our Final merge

In [579]:
MergedDf=Fertilty_DF.merge(MergedDf, how='inner', left_on=['Code','Year','Entity'],right_on=['Code','Year','Entity'])

In [580]:
Df_Final=Density_DF.merge(MergedDf, how='inner', left_on=['Code','Year','Entity'],right_on=['Code','Year','Entity'])

In [581]:
Df_Final

,Entity,Code,Year,Population density - Sex: all - Age: all - Variant: estimates,Fertility rate - Sex: all - Age: all - Variant: estimates,Males_per_100_Females,Growth_Rate,Education_Post_Secondary,Education_Upper_Secondary,Education_Lower_Secondary,Education_Primary,Education_Incomplete_Primary,Education_No_Education,Education_Under_15
0,Afghanistan,AFG,1950,11.976,7.248,112.618350,1.275,800.0,5300.0,0.00,155000.0,0.0,4411200.0,3179900.0
1,Afghanistan,AFG,1951,12.135,7.260,112.082726,1.360,960.0,6240.0,0.00,163460.0,0.0,4455640.0,3229540.0
2,Afghanistan,AFG,1952,12.302,7.260,111.549540,1.374,1120.0,7180.0,0.00,171920.0,0.0,4500080.0,3279180.0
3,Afghanistan,AFG,1953,12.470,7.266,111.028630,1.335,1280.0,8120.0,0.00,180380.0,0.0,4544520.0,3328820.0
4,Afghanistan,AFG,1954,12.641,7.254,110.527310,1.394,1440.0,9060.0,0.00,188840.0,0.0,4588960.0,3378460.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13820,Zimbabwe,ZWE,2019,39.476,3.748,90.228190,1.609,930440.0,4821040.0,2040240.08,1327360.0,604780.0,542700.0,6938680.0
13821,Zimbabwe,ZWE,2020,40.137,3.754,90.366800,1.709,980200.0,5077400.0,2052100.10,1315900.0,580900.0,518300.0,7037600.0
13822,Zimbabwe,ZWE,2021,40.835,3.765,90.517715,1.743,1036920.0,5376080.0,2075620.08,1296140.0,550960.0,489640.0,7054120.0
13823,Zimbabwe,ZWE,2022,41.538,3.767,90.700360,1.670,1093640.0,5674760.0,2099140.06,1276380.0,521020.0,460980.0,7070640.0
13824,Zimbabwe,ZWE,2023,42.241,3.724,90.899910,1.684,1150360.0,5973440.0,2122660.04,1256620.0,491080.0,432320.0,7087160.0

In [582]:
Df_Final.rename(columns={'Population density - Sex: all - Age: all - Variant: estimates':'Desnity',
                         'Fertility rate - Sex: all - Age: all - Variant: estimates':'Ferility_Rate'},inplace=True)

In [583]:
Df_Final.to_csv('Final_Data.csv')